* {
    margin: 0; 
}
.header {
    display: flex; 
    justify-content: flex-end; 
    background-color: black; 
    color: white; 
    padding: 1em; 
}
.header ul {
    margin-right: 5em; 
}
.header li{
    list-style-type: none;
    display: inline-block; 
    margin: 0em 2em; 
    
}
.fa-solid {
    margin-right: 7px; 
}
nav {
    display: flex; 
    position: absolute; 
    color: white; 
    padding: 1em 0em;
    width: 100%; 
    justify-content: center; 
    border-bottom: 1px solid white; 
}
nav div{
    display: flex; 
    align-items: center; 
}
nav li {
    list-style-type: none;
    display: inline-block; 
    margin-left: 30px; 
}
nav a {
    text-decoration: none; 
    color: white; 
}
.hero {
    display: flex; 
    width: 100%; 
}
.hero img {
    width: 100%; 
}
button {
    margin-left: 3em; 
    background-color: transparent; 
    color: white; 
    border: 2px solid white; 
    padding: 1em 2em; 
    border-radius: 30px; 
}
.planform {
    position: relative; 
    z-index: 1; 
    display: flex; 
    bottom: 200px; 
}
.planform img {
    border-radius: 20px; 
    box-shadow: 3px 3px 3px; 
    margin: 0 auto; 
}